body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.issue-book-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 29px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    /* transform: scale(0); */
    transition: all ease .5s;
    padding-right: 43px;
}

/* .issue-book-container.active-popup-issue{
            transform: scale(1);
        } */


h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.cancel-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.cancel-btn:hover {
    background-color: rgb(149, 9, 9);
}